*/bin/*
*/packages/*
*/obj/*
MusicDownloader/MusicDownloader/bin/*
MusicDownloader/MusicDownloader/obj/*
MusicDownloader/Logic/bin/*
MusicDownloader/Logic/obj/*
MusicDownloader/MusicDownloader/TemporaryFiles/*
