@using Infrastructure
@using MusicDownloader.Resources.Pages
@{
    ViewBag.Title = $"About - {Constants.ApplicationName}";
}

<div class="about-page">
    <div class="container body-content" style="text-align: center">
        <h2><i class="fa fa-info-circle" aria-hidden="true"></i> @string.Format(About.Header, Constants.ApplicationName)</h2>
        <p>
            @Html.Raw(About.Text)
        </p>
    </div>
</div>

