@using Infrastructure
@using MusicDownloader.Resources.Pages
@{
    ViewBag.Title = "How it works";
}

<div class="how-it-works-page">
    <div class="container body-content" style="text-align: center">
        <h2><i class="fa fa-github" aria-hidden="true"></i> @HowItWorks.UserGuide</h2>
        <p>
            @Html.Raw(HowItWorks.Description)
        </p>
    </div>
</div>

