
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<label>Songs name to download:</label>
<textarea class="form-control" id="songs-names-list" required></textarea>
<br/>
<button onclick="downloadSongs()" class="btn">Download songs</button>