
@{
    ViewBag.Title = "Index";
}

<div class="home-page">
    <div class="container body-content" style="text-align: center">
        <h2>Download songs from list</h2>
        <div class="row" >
            <div class="col-xs-12 col-md-12" id="songs-download-box">
                <p>Specify the list of songs names you need to download</p>

                <div class="row">
                    <div class="col-xs-1 col-md-2"></div>
                    <textarea class="col-xs-10 col-md-8" rows="16" id="songs-names-list" required
                              placeholder="Queen - Bohemian Rhapsody"></textarea>
                    <div class="col-xs-1 col-md-2"></div>
                </div>
                <br/>
                <button class="btn btn-lg btn-info" onclick="downloadSongs()">
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Download songs
                </button>
                <br/>
            </div>

            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-md-8" id="songs-download-ok-result" style="display: none;">
                <div id="download-should-start-message"></div>
            </div>
            <div class="col-xs-10 col-md-8" id="songs-download-error-result" style="display: none;">
                <div id="error-message"></div>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
    </div>
</div>