.home-page {
    height: 70%;
    display: flex;
    /*background-image: url("images/download.png");*/
}

@songs-names-input-background-color: white;
@songs-names-input-border-color: powderblue;

#songs-names-list {
    max-width: 100%;
    min-height: 300px;
    background-color: @songs-names-input-background-color;
    background: fade(@songs-names-input-background-color, 50%);
    border-color: @songs-names-input-border-color;
}